:root {
  --color-black: #000000;
  --color-gray: #4B4B4B;
  --color-white: #C4C4C4;
  --color-yellow: #FF9001;
  --color-orange: #FF4200;
  --color-bg: rgb(20, 20, 20);
  background: var(--color-bg);
  background-size: cover;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;

  display: flex;
  place-content: center;
  align-items: center;
}

.gradient {
  position: absolute;
  width: 50%;
  height: 90%;
  filter: blur(50px);
  background-image: radial-gradient(var(--color-orange), var(--color-yellow));
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  z-index: -100000;

  animation: bg-hue 10s infinite linear;
}

.main { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: 'Atomic MD';
  font-weight: bolder;
  font-size: 96px;

  background-image: -webkit-linear-gradient(92deg, var(--color-orange), var(--color-yellow));
	background-clip: text;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	animation: hue 10s infinite linear;

  border-bottom: 5px solid;
  border-image: linear-gradient(92deg, var(--color-orange), var(--color-yellow)) 1;
}

.sub-title {
  margin-top: 15px;
  font-size: 22px;
  font-family: 'LG Cafe';
  color: var(--color-white);
  z-index: 100;
}

.links {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 2%;
  top: 4%;
}

.links-logo {
  height: 35px;
  padding: 2px;
  margin-left: 10px;

  transition: transform 0.1s ease-in, filter 0.1s ease-in;
}

.links-logo:hover {
  cursor: pointer;
  filter: brightness(1.5);
  transform: scale(1.1);
}

.button {
  border: 2px solid var(--color-white);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 18px;
  font-family: 'LG Cafe';
  font-weight: bold;
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-bg);
}

.video {
  margin-top: 10%;
}

.video iframe {
  border-radius: 25px;
}

@keyframes bg-hue {
  0% {
    filter: hue-rotate(0deg) blur(50px) brightness(0.3);
  }
  50% {
    filter: hue-rotate(-180deg) blur(50px) brightness(0.6);
  }
  100% {
    filter: hue-rotate(-360deg) blur(50px) brightness(0.3);
  }
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

@media screen and (max-width: 560px) {
  .title {
    font-size: 72px;
  }
}


@font-face {
  font-family: "LG Cafe";
  src: url('./fonts/Louis\ George\ Cafe.ttf');
}

@font-face {
  font-family: "LG Cafe";
  src: url('./fonts/Louis\ George\ Cafe\ Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "LG Cafe";
  src: url('./fonts/Louis\ George\ Cafe\ Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: "LG Cafe";
  src: url('./fonts/Louis\ George\ Cafe\ Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: "Atomic MD";
  src: url('./fonts/aAtomicMd.ttf');
}